<div id="footer">
		
		<!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="container">
                <div class="row">
                   
                    <div class="span12" id="footer-widget-area-2">
                        
                        <div class="widget ewf_widget_contact_info">
                            <p>
                            <ul>
                                        <li>Vashishta</li>
                                            <li>97388 33451
                                        </li>
                                        <li>Karthik</li>
                                        <li>95917 77656</li>
                
                                <li>
                                    <a href="mailto:#">frequencyclubmail@gmail.com</a>
                                </li>
                            </ul>
                            
                        </div><!-- end .ewf_widget_contact_info -->
                        
                        <div class="widget widget_text">
                        
                        	<div class="textwidget">
                            
                            	<a class="text-uppercase letter-space" href="/contactus">Send us a message</a>
                            
                            </div><!-- end .textwidget -->
                            
                        </div><!-- end .widget_text -->
                                                
                    </div><!-- end .span5 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
            
		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		</div><!-- end #footer -->		
		
	</div><!-- end #wrap -->
    
    <a id="back-to-top" href="#">
    	<i class="ifc-up4"></i>
    </a>

    <!-- /// jQuery ////////  -->
	<script src="assets/vendors/jquery-2.1.3.min.js"></script>

    <!-- /// ViewPort ////////  -->
	<script src="assets/vendors/viewport/jquery.viewport.js"></script>
    
    <!-- /// Easing ////////  -->
	<script src="assets/vendors/easing/jquery.easing.1.3.js"></script>

    <!-- /// SimplePlaceholder ////////  -->
	<script src="assets/vendors/simpleplaceholder/jquery.simpleplaceholder.js"></script>

    <!-- /// Fitvids ////////  -->
    <script src="assets/vendors/fitvids/jquery.fitvids.js"></script>
    
    <!-- /// Animations ////////  -->
    <script src="assets/vendors/animations/animate.js"></script>
     
    <!-- /// Superfish Menu ////////  -->
	<script src="assets/vendors/superfish/hoverIntent.js"></script>
    <script src="assets/vendors/superfish/superfish.js"></script>
    
    <!-- /// Revolution Slider ////////  -->
    <script src="assets/vendors/revolutionslider/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/vendors/revolutionslider/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- /// bxSlider ////////  -->
	<script src="assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    
   	<!-- /// Magnific Popup ////////  -->
	<script src="assets/vendors/magnificpopup/jquery.magnific-popup.min.js"></script>
    
    <!-- /// Isotope ////////  -->
	<script src="assets/vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="assets/vendors/isotope/isotope.pkgd.min.js"></script>
    
    <!-- /// Parallax ////////  -->
	<script src="assets/vendors/parallax/jquery.parallax.min.js"></script>

	<!-- /// EasyPieChart ////////  -->
	<script src="assets/vendors/easypiechart/jquery.easypiechart.min.js"></script>
    
	<!-- /// YTPlayer ////////  -->
	<script src="assets/vendors/itplayer/jquery.mb.YTPlayer.js"></script>
	
    <!-- /// Easy Tabs ////////  -->
    <script src="assets/vendors/easytabs/jquery.easytabs.min.js"></script>	
    
    <!-- /// Form validate ////////  -->
    <script src="assets/vendors/jqueryvalidate/jquery.validate.min.js"></script>
    
	<!-- /// Form submit ////////  -->
    <script src="assets/vendors/jqueryform/jquery.form.min.js"></script>
    
    <!-- /// gMap ////////  -->
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="assets/vendors/gmap/jquery.gmap.min.js"></script>

	<!-- /// Twitter ////////  -->
	<script src="assets/vendors/twitter/twitterfetcher.js"></script>
	
	<!-- /// Custom JS ////////  -->
	<script src="assets/js/main.js"></script>	
    
    <!-- /// Style Switcher ////////  -->
	<script src="assets/vendors/switcher/jquery_cookie.js"></script>
	

</body>

<!-- Mirrored from kepler.europadns.net/html/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Oct 2015 19:39:16 GMT -->
</html>