<!DOCTYPE html>
<html>

<!-- Mirrored from kepler.europadns.net/html/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Oct 2015 19:34:31 GMT -->
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    
	<title> Frequency </title>
	<meta name="description" content=" add description  ... ">
    
    <!-- /// Favicons ////////  -->
    <link rel="shortcut icon" href="assets/images/frequency_logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.html">
	<meta name="msapplication-TileColor" content="#000">
	<meta name="msapplication-TileImage" content="mstile.html">
	<meta name="theme-color" content="#000">
	
	
	<!-- /// Google Fonts ////////  -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic">
    
    <!-- /// FontAwesome Icons 4.3.0 ////////  -->
	<link rel="stylesheet" href="assets/fonts/fontawesome/font-awesome.min.css">
    
    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="assets/fonts/iconfontcustom/icon-font-custom.css">  
    
	<!-- /// Plugins CSS ////////  -->
	<link rel="stylesheet" href="assets/vendors/revolutionslider/css/settings.css">
    <link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css">
	<link rel="stylesheet" href="assets/vendors/magnificpopup/magnific-popup.css">
    <link rel="stylesheet" href="assets/vendors/animations/animate.min.css">
	<link rel="stylesheet" href="assets/vendors/itplayer/css/YTPlayer.css">
	
	<!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/css/grid.css">
	<link rel="stylesheet" href="assets/css/elements.css">
	<link rel="stylesheet" href="assets/css/layout.css">
	<link rel="stylesheet" href="assets/css/components.css">
	<link rel="stylesheet" href="assets/css/wordpress.css">
    
	<!-- /// Boxed layout ////////  -->
	<!-- <link rel="stylesheet" href="assets/css/boxed.css"> -->
 
 	
    
</head>
<body class="sticky-header header-style-2 footer-style-1 home-page">
	
    <!-- Style Switcher read settings for layout and skin -->
	<script src="assets/vendors/switcher/readcookies.js"></script>
    
    <noscript>
        <div class="javascript-required">
            You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>
    	
	<!--[if lte IE 8]>
         <div class="modern-browser-required">
        	You are using an <strong>outdated</strong> browser. Please 
        	<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a> 
            to improve your experience.
		</div>
    <![endif]-->

	<div id="wrap">
			
		<div id="header-wrap">
            <div id="header-top">
                
            <!-- /// HEADER-TOP  //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                
             
                
            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            
            </div><!-- end #header-top -->
            <div id="header">
			
			<!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

				<div class="container">
                    <div class="row">
                        <div class="span3">
                        
                            <!-- // Logo // -->
                         <!--    <div id="logo">
                                <a href="/">
                                    <img src="assets/images/frequency_logo.png" alt="website logo" height="120" width ="100">
                                </a>
                            </div> -->
                        
                        </div><!-- end .span3 -->
                        <div class="span9">
                        
                            <!-- // Mobile menu trigger // -->
                            
                            <a href="#" id="mobile-menu-trigger">
                                <i class="fa fa-bars"></i>
                            </a>
                            
                            <!-- // Menu // -->
                            
                            <nav>
                                <ul class="sf-menu fixed" id="menu">
                                    <li class="dropdown">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/aboutus">About Us</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/portfolio">Gallery</a>                                        
                                    </li>
                                    <li class="dropdown">
                                        <a href="/contactus">Contact Us</a>                                        
                                    </li>

                                    <li class="dropdown">
                                        <a href="/blog">Blog</a>
                                    </li>         
                                </ul>
                            </nav>	
    
                        </div><!-- end .span9 -->
                    </div><!-- end .row -->		
				</div><!-- end .container -->
			
            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

			</div><!-- end #header -->
		</div><!-- end #header-wrap -->	