      <% include header.ejs %>

		<div id="content">
		
		<!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="fullwidthbanner-container slider-revolution">
				<div class="fullwidthbanner fullscreen">
					
                    <ul>					   						                        
						<li data-transition="fade">
						
                            <img src="assets/images/parallax/pic1.JPG" alt="">
                            
                            <div class="caption title sft"
                                 data-x="365"
                                 data-y="140"
                                 data-speed="700"
                                 data-start="1000"
                                 data-easing="easeOutExpo">
                                 
                            </div>
                            
                            <div class="caption subtitle text-center sft"
                                 data-x="200"
                                 data-y="260"
                                 data-speed="700"
                                 data-start="1500"
                                 data-easing="easeOutExpo">
                                 
                            </div>
                            
                        </li>
                        <li data-transition="fade">
						
                            <img src="assets/images/parallax/pic2.JPG" alt="">
                            
                            <div class="caption fade"
                                 data-x="1000"
                                 data-y="350"
                                 data-speed="700"
                                 data-start="1000"
                                 data-easing="easeOutExpo">
                            </div>
                            
                            <div class="caption title sft"
                                 data-x="100"
                                 data-y="140"
                                 data-speed="700"
                                 data-start="1500"
                                 data-easing="easeOutExpo">
                                
                            </div>
                            
                            <div class="caption text text-center sft"
                                 data-x="290"
                                 data-y="260"
                                 data-speed="700"
                                 data-start="2000"
                                 data-easing="easeOutExpo">
                                 
                            </div>
                            
                        </li>
                        <li data-transition="fade">
						
                            <img src="assets/images/parallax/pic3.JPG" alt="">
                            
                            <div class="caption sfl"
                                 data-x="50"
                                 data-y="100"
                                 data-speed="700"
                                 data-start="1000"
                                 data-easing="easeOutExpo">
                                 
                            </div>
                            
                            <div class="caption subtitle sft"
                                 data-x="650"
                                 data-y="140"
                                 data-speed="700"
                                 data-start="1500"
                                 data-easing="easeOutExpo">
                                 
                            </div>
                            
                            <div class="caption text text-right sfr"
                                 data-x="630"
                                 data-y="220"
                                 data-speed="700"
                                 data-start="2000"
                                 data-easing="easeOutExpo">
                                 
                            </div>
                            
                            
                            
                        </li>
                    </ul>
                    
                </div><!-- end .fullwidthbanner -->
            </div><!-- end .fullwidthbanner-container -->
			
			<div class="container">
            	<div class="row">
                	<div class="span12">
                    	
                        <div class="headline-center" style="margin-bottom:50px;">
                        	
                            <h2>Frequency Club, RVCE</h2>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
            
            <div class="container">
            	<div class="row">
                	<div class="span12">
                    	
                        <blockquote class="mute">
                        
                        	<p>Resonating with technical creativity</p>
                        
                        </blockquote>
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
            
            <br><br><br><br>
            
            <div class="container">
            	<div class="row">
                	<div class="span12">
                    	
                        <p class="text-center">
                        	<a class="btn btn-large btn-white" href="#">Things we are known for</a>
                        </p>
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
            
            <br>
            
            <div class="container">
            	<div class="row">
                	<div class="span4">
                    	
                        <div class="icon-box-3">
                            
                            <i class="ifc-settings"></i>
                            
                            <h5>
                                <p>Innovation</p>
                            </h5>
                            
                            <br class="clear">
                            
                            <p>Innovation can be viewed as the application of better solutions that     
                             meet new requirements, unarticulated needs, or existing market needs. 
                             We at frequency club, aim to set new milestones in innovation amongst engineers. 
                             This can be acheived by defining
                             <ol>
                             <li> A recognized need</li>    
                             <li>Relations with competent people with relevant technology   </li>
                             <li>Financial support. </li>

                            </ol>       
         
                        </div><!-- end .icon-box-3 -->
                        
                        <div class="icon-box-3">
                            
                            <i class="ifc-folder"></i>
                            
                            <h5>
                               Partnership with industry 
                            </h5>
                            
                            <br class="clear">
                            
                            <p>We take up projects from startups, industries and NGOs . We take their support and guidance to build quality products.  We also help students secure internships in companies, along with funded guidance for student interest projects.</p>
         
                        </div><!-- end .icon-box-3 -->
                        
                        
                    </div><!-- end .span4 -->
                    <div class="span4">
                    	
                        <p class="text-center">
                        	<img src="assets/images/robot.jpg" alt="">
                        </p>
                        
                    </div><!-- end .span4 -->
                	<div class="span4">
                    	
                        <div class="icon-box-2">
                            
                            <i class="ifc-multiple_devices"></i>
                            
                            <h5>
                              Hobby projects 
                            </h5>
                            
                            <br class="clear">
                            
                            <p>As Engineers, students are bound to be curious about what they are studying; hence, we at Frequency Club, provide students with all necessary types of support, financial, motivational, and the club members will help other students achieve the result of every idea they came up with. We at Frequency Club, believe that Engineers turn dreams into reality, and we want to see every engineering student see their dream in action. </p>
         
                        </div><!-- end .icon-box-2 -->
                        
                        <div class="icon-box-2">
                            
                            <i class="ifc-camera_addon"></i>
                            
                            <h5>
                            Tech events -workshop, quiz , talks 
                            </h5>
                            
                            <br class="clear">
                            
                            <p>The imagination is literally the workshop wherein are fashioned, all plans created by man.And this imagination starts working only with the slightest push of the mind towards something new. Hence, we at Frequency Club, organize numerous workshops, seminars and Tech Talks, which not only provide students with hands on knowledge, but also provide a forum for students to step forward and share their doubts and ideas. The best was to have a good idea, is to have many ideas.</p>
                            <p>
                         
                        </div><!-- end .icon-box-2 -->        
                    </div><!-- end .span4 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
            <section class="section-divider textdivider divider1">
            <div class="container">
                <h1></h1>
                
                <p class = 'centered'></p>
            </div><!-- container -->
        </section><!-- section -->

            
            <div class="container">
            	<div class="row">
                	<div class="span12">
                    	
                        <div class="headline-center">
                        	
                            <h2>About Frequency</h2>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
            
            <div class="container">
            	<div class="row">
                	<div class="span6">
                    	
                        <p>Frequency club is a centre for peer learning and knowledge sharing in the form of workshops, presentations and lectures. It can be viewed as a hackerspace where students can come together to share resources and knowledge to build and make things. We welcome  ideas and provide funding to complete such projects. We also invite guest speakers to give an insight into the industry. We at the Frequency club strive to make students better engineers, makers and leaders of the tech industry.</p>
                        
                    </div><!-- end .span6 -->
                    <div class="span6">
                    	
                        
                        <div class="fixed">
                        
                            <div class="progress-bar-description">
                            	
                                Events  
                                <span>3</span> 
                                
							</div><!-- end .progress-bar-description -->
                            
                            <div class="progress-bar"> 
                                <span class="progress-bar-outer" data-width="95"> 
                                    <span class="progress-bar-inner"></span>
                                </span>
                            </div><!-- end .progress-bar -->
                            
                        </div>
                        
                        <div class="fixed">
                        
                            <div class="progress-bar-description">
                            	
                                Projects
                                <span>3</span> 
                                
							</div><!-- end .progress-bar-description -->
                            
                            <div class="progress-bar"> 
                                <span class="progress-bar-outer" data-width="75"> 
                                    <span class="progress-bar-inner"></span>
                                </span>
                            </div><!-- end .progress-bar -->
                            
                        </div>
                        
                        <div class="fixed">
                        
                            <div class="progress-bar-description">
                            	
                                Partners
                                <span>1</span> 
                                
							</div><!-- end .progress-bar-description -->
                            
                            <div class="progress-bar"> 
                                <span class="progress-bar-outer" data-width="90"> 
                                    <span class="progress-bar-inner"></span>
                                </span>
                            </div><!-- end .progress-bar -->
                            
                        </div>
                        
                    </div><!-- end .span6 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
			
			
             <section class="section-divider textdivider divider2">
            <div class="container">
                <h1></h1>
                
                <p class = 'centered'></p>
            </div><!-- container -->
        </section><!-- section -->
   
            <div class="container">
              <div class="row">
                  <div class="span12">
                      
                        <div class="headline-center">
                          
                            <h2>Events</h2>
                            
                        </div><!-- end .headline -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
            <div class="container">    
                <div class="row">
                    <div class="span4">

						<div class="icon-box-1">
      
                            <div class="icon-box-content">
                            
                                <h5>
                                    <a href="single-service.html">THE INAUGAURAL TECH QUIZ</a>
                                </h5>
                                
                                <p>Early August, the Frequency Club office was taken over by the newly appointed office bearers.
                                    As a part of our inaugural function for this academic year 2015-2016, we hosted “THE TECH QUIZ” on Friday    (21.08.2015) at 2PM in the IEM department Auditorium, RVCE. The quiz was open to all semester and all departments. Dr K. Subramanya, The Principal, RVCE and Dr K.B Ramesh, HOD and Prof, E&I Department, RVCE, graced the event.</p>
                            
                            </div><!-- end .icon-box-content -->
                            
                        </div><!-- end .icon-box-1 -->
                    
                    </div><!-- end .span4 -->
                    <div class="span4">

						<div class="icon-box-1">
      
                            <div class="icon-box-content">
                            
                                <h5>
                                    <a href="single-service.html">TECH TALK</a>
                                </h5>
                                
                                <p>The Frequency Club organised its second event on 3-September-2015 for the academic year 2015-2016. Prabha Subramani who has been an alumnus of RVCE itself was invited to deliver a talk on her field of expertise “Sales Force SRM using Force.com “.The event was held in the CSE Seminar hall at 11 AM with participation from 100+ students from all the semesters of the circuit     branches like Computer Science, Information Science, Electronics & Communication ,Telecom ,Electrical And Electronics, Electronics and Instrumentation .</p>

                            
                            </div><!-- end .icon-box-content -->
                            
                        </div><!-- end .icon-box-1 -->
                    
                    </div><!-- end .span4 -->
                    <div class="span4">
                    
                            <div class="icon-box-1">
                               <div class="icon-box-content">
                               <h5>
                                    <a href="single-service.html">IOT WORKSHOP</a>
                                </h5>
                                The Frequency Club organised “Internet Of Things” Workshop, our fourth event forthe academic year 2015-2016, in association of IEEE PES (RVCE) Student Chapter,on 30th and 31st January 2016. We had invited “Innovians Technologies”, a Delhi based training institute for conducting the workshop. Accordingly, Prateek Gupta,subject expert visited our college to host the event. A nominal fee of RS900/- was charged per participants.
                            </p>
                            </div>
                        </div><!-- end row -->
                    
                    </div><!-- end .span4 -->
                </div><!-- end row -->
            </div><!-- end .container -->
            
            
		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		</div><!-- end #content -->
		<% include footer.ejs %>