
<% include header.ejs %>
        <div id="content">
        
        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <div id="page-header" style="background-image:url(content/backgrounds/1920x500-2.jpg);">
                
                <div class="container">
                    <div class="row">
                        <div class="span6">

                            <h6>Gallery</h6>
                        
                        </div><!-- end .span6 -->
                        <div class="span6">
                            
                            <div class="breadcrumbs">
                                        
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="current">Gallery</li>
                                </ul>
                                
                            </div><!-- end .breadcrumbs -->
                            
                        </div><!-- end .span6 -->
                    </div><!-- end .row -->
                </div><!-- end .container -->
                
            </div><!-- end #page-header -->
            
            <div class="container">
                <div class="row">
                    <div class="span12">
                        
                        <div class="headline-center">
                            
                            <h2>Gallery</h2>
                            
                        </div><!-- end .headline-center -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->            
            
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <b><center><h4>QUIZ</h4></center></b>
                        <div class="portfolio-grid three-cols">
                            
                            <div class="item">
                                
                                <div class="portfolio-item">
                                        
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/QUIZ/pic1.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                             
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/QUIZ/pic1.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                                                                                              
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                            
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/QUIZ/pic2.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/QUIZ/pic2.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                       
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                            
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/QUIZ/pic3.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/QUIZ/pic3.jpg"></a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                       
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                            <br>
                            <br>
                            <b><center><h4>TALK</h4></center></b>
                            <br>
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/TALK/pic1.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/TALK/pic1.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            

                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                       
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                            
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/TALK/pic2.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/TALK/pic2.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                                                                                              
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                            
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/TALK/pic3.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/TALK/pic3.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                                                                                              
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                             <br>
                            <br>
                            <b><center><h4>PCB</h4></center></b>
                            <br>
                            
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/PCB/pic1.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/PCB/pic1.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            

                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                       
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                            
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/PCB/pic2.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/PCB/pic2.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                                                                                              
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                            
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/PCB/pic3.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/PCB/pic3.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                                                                                              
                                    
                                </div><!-- end .portfolio-item -->
                                 
                                
                            </div><!-- end .item -->
                            <br>
                            <br>
                            <b><center><h4>IOT</h4></center></b>
                            <br>
                              <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/IOT/pic1.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/IOT/pic1.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                                                                                              
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->  
                            <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/IOT/pic2.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/IOT/pic2.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                                                                                              
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                              <div class="item">
                                
                                <div class="portfolio-item">
                            
                                    <div class="portfolio-item-preview">
                                        
                                        <img src="assets/images/portfolio/IOT/pic3.jpg" alt="">
                                        
                                        <div class="portfolio-item-overlay">                                                                                        
                                            
                                            <div class="portfolio-item-description">
                                        
                                                
                                                
                                            </div><!-- end .portfolio-item-description -->
                                            
                                            <div class="portfolio-item-overlay-actions">
                                                                                                                            
                                                <a class="portfolio-item-zoom magnificPopup-gallery" href="assets/images/portfolio/IOT/pic3.jpg">+</a>
                                                
                                            </div><!-- end .portfolio-item-overlay-actions -->
                                            
                                        </div><!-- end .portfolio-item-overlay -->
                                        
                                    </div><!-- end .portfolio-item-preview -->                                                                                                                              
                                    
                                </div><!-- end .portfolio-item -->
                                
                            </div><!-- end .item -->
                            
                        </div><!-- end .portfolio-grid -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
        
            
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        </div><!-- end #content -->
<% include footer.ejs %>